Repository event-driven-io/emmett, pull requests merged in 2024-12, with the labels that each got.

#127 [MongoDB Event Store] Projection Registration & Helper for single stream projections
  src/packages/emmett-mongodb/src/eventStore/mongoDBEventStore.e2e.spec.ts
  src/packages/emmett-mongodb/src/eventStore/mongoDBEventStore.ts
  src/packages/emmett-mongodb/src/eventStore/projections/index.ts
Labels: enhancement, event store, mongodb

#139 [MongoDB EventStore] Add query functions for inline projections
  src/package-lock.json
  src/packages/emmett-mongodb/src/eventStore/mongoDBEventStore.e2e.spec.ts
  src/packages/emmett-mongodb/src/eventStore/mongoDBEventStore.ts
  src/packages/emmett-mongodb/src/eventStore/projections/index.ts
  src/packages/emmett-mongodb/src/eventStore/projections/mongoDBEventStore.projections.e2e.spec.ts
Labels: enhancement, event store, projections, mongodb

#156 Added database table creation and tests
  src/packages/emmett-sqlite/src/eventStore/schema/createEventStoreSchema.int.spec.ts
  src/packages/emmett-sqlite/src/eventStore/schema/index.ts
  src/packages/emmett-sqlite/src/eventStore/schema/tables.ts
  src/packages/emmett-sqlite/src/eventStore/schema/typing.ts
  src/packages/emmett-sqlite/src/sqliteConnection.ts
Labels: enhancement, event store, SQLite, database schema

#157 Updated samples to 0.23.0-alpha.7
  samples/webApi/expressjs-with-esdb/package-lock.json
  samples/webApi/expressjs-with-esdb/package.json
  samples/webApi/expressjs-with-postgresql/package-lock.json
  samples/webApi/expressjs-with-postgresql/package.json
Labels: enhancement, sample

#161 Added the first version of Pongo inline projection specification
  src/packages/emmett-mongodb/src/eventStore/mongoDBEventStore.ts
  src/packages/emmett-mongodb/src/eventStore/projections/index.ts
  src/packages/emmett-mongodb/src/eventStore/projections/mongoDBInlineProjection.ts
  src/packages/emmett-mongodb/src/eventStore/projections/mongoDBInlineProjectionSpec.single.int.spec.ts
  src/packages/emmett-mongodb/src/eventStore/projections/mongoDBInlineProjectionSpec.ts
Labels: testing, projections, mongodb

#163 Added example of MongoDBInlineProjectionSpec in samples
  samples/webApi/expressjs-with-esdb/package-lock.json
  samples/webApi/expressjs-with-esdb/package.json
  samples/webApi/expressjs-with-mongodb/package-lock.json
  samples/webApi/expressjs-with-mongodb/package.json
  samples/webApi/expressjs-with-mongodb/src/shoppingCarts/api.int.spec.ts
  samples/webApi/expressjs-with-mongodb/src/shoppingCarts/getDetails/index.int.spec.ts
  samples/webApi/expressjs-with-mongodb/src/shoppingCarts/getShortInfo/index.int.spec.ts
  samples/webApi/expressjs-with-mongodb/src/shoppingCarts/getShortInfo/index.ts
  samples/webApi/expressjs-with-postgresql/package-lock.json
  samples/webApi/expressjs-with-postgresql/package.json
  samples/webApi/expressjs-with-postgresql/src/shoppingCarts/api.int.spec.ts
  samples/webApi/expressjs-with-postgresql/src/shoppingCarts/getClientShoppingSummary/index.ts
Labels: enhancement, sample, mongodb

#164 Added check for the MongoDB projeciton name uniqueness
  src/packages/emmett-mongodb/src/eventStore/mongoDBEventStore.ts
  src/packages/emmett-mongodb/src/eventStore/mongoDBEventStore.unit.spec.ts
  src/packages/emmett/src/projections/index.ts
  src/packages/emmett/src/projections/index.unit.spec.ts
  src/packages/emmett/src/utils/collections/duplicates.ts
  src/packages/emmett/src/utils/collections/duplicates.unit.spec.ts
  src/packages/emmett/src/utils/collections/index.ts
  src/packages/emmett/src/utils/collections/merge.ts
  src/packages/emmett/src/utils/index.ts
Labels: bug, projections, mongodb
