Repository event-driven-io/emmett, pull requests merged in 2025-01, with the labels that each got.

#166 Adjusted command metadata definition to have metadata required if provided
  src/packages/emmett/src/typing/command.ts
  src/packages/emmett/src/typing/event.ts
Labels: enhancement, command handling, typing

#171 Added read stream
  src/packages/emmett-sqlite/src/eventStore/schema/readStream.int.spec.ts
  src/packages/emmett-sqlite/src/eventStore/schema/readStream.ts
Labels: enhancement, event store, SQLite

#173 Added sqlite event store functionality and tests
  src/packages/emmett-sqlite/src/SQLiteEventStore.ts
  src/packages/emmett-sqlite/src/eventStore/SQLiteEventStore.e2e.spec.ts
  src/packages/emmett-sqlite/src/eventStore/SQLiteEventStore.ts
  src/packages/emmett-sqlite/src/eventStore/schema/readStream.ts
  src/packages/emmett-sqlite/src/testing/shoppingCart.domain.ts
Labels: enhancement, event store, SQLite

#175 Fixed browser compatibility test
  src/e2e/browser/index.html
  src/e2e/browser/package-lock.json
  src/e2e/browser/package.json
  src/package-lock.json
Labels: bug, CI, compatibility

#176 Changed dbConn for sqliteConnection variable name
  src/packages/emmett-sqlite/src/eventStore/SQLiteEventStore.e2e.spec.ts
  src/packages/emmett-sqlite/src/eventStore/schema/appendToStream.int.spec.ts
  src/packages/emmett-sqlite/src/eventStore/schema/createEventStoreSchema.int.spec.ts
  src/packages/emmett-sqlite/src/eventStore/schema/readStream.int.spec.ts
  src/packages/emmett-sqlite/src/sqliteConnection.ts
Labels: enhancement, breaking change, SQLite

#177 Fixed typing for Command Handler async result
  src/packages/emmett/src/commandHandling/handleCommand.middleware.unit.spec.ts
  src/packages/emmett/src/commandHandling/handleCommand.ts
Labels: enhancement, command handling

#180 Fixed the event store read event metadata inference
  src/packages/emmett-mongodb/src/eventStore/mongoDBEventStore.ts
  src/packages/emmett/src/eventStore/eventStore.ts
  src/packages/emmett/src/eventStore/inMemoryEventStore.ts
  src/packages/emmett/src/typing/event.ts
Labels: bug, event store, typing
