Repository event-driven-io/emmett, pull requests merged in 2025-03, with the labels that each got.

#204 Exported the missing SQLite package code
  src/packages/emmett-sqlite/src/connection/index.ts
  src/packages/emmett-sqlite/src/connection/sqliteConnection.ts
  src/packages/emmett-sqlite/src/eventStore/SQLiteEventStore.e2e.spec.ts
  src/packages/emmett-sqlite/src/eventStore/SQLiteEventStore.ts
  src/packages/emmett-sqlite/src/eventStore/index.ts
  src/packages/emmett-sqlite/src/eventStore/schema/appendToStream.int.spec.ts
  src/packages/emmett-sqlite/src/eventStore/schema/appendToStream.ts
  src/packages/emmett-sqlite/src/eventStore/schema/createEventStoreSchema.int.spec.ts
  src/packages/emmett-sqlite/src/eventStore/schema/index.ts
  src/packages/emmett-sqlite/src/eventStore/schema/readStream.int.spec.ts
  src/packages/emmett-sqlite/src/eventStore/schema/readStream.ts
  src/packages/emmett-sqlite/src/eventStore/schema/tables.ts
  src/packages/emmett-sqlite/src/index.ts
Labels: bug, SQLite

#205 Added the first version of SQLite projections and exposed onBeforeCommitHook
  src/packages/emmett-postgresql/src/eventStore/postgreSQLEventStore.ts
  src/packages/emmett-postgresql/src/eventStore/schema/appendToStream.ts
  src/packages/emmett-sqlite/src/eventStore/SQLiteEventStore.ts
  src/packages/emmett-sqlite/src/eventStore/projections/index.ts
  src/packages/emmett-sqlite/src/eventStore/schema/appendToStream.int.spec.ts
  src/packages/emmett-sqlite/src/eventStore/schema/appendToStream.ts
  src/packages/emmett/src/eventStore/afterCommit/afterEventStoreCommitHandler.ts
Labels: enhancement, projections, SQLite

#210 fix: Eliminate dead links in vitepress
  src/docs/api-docs.md
  src/docs/api-reference/command.md
  src/docs/overview.md
Labels: bug, documentation

#213 Fixed typo in Express.js defaulErrorToProblemDetailsMapping
  src/packages/emmett-expressjs/src/middlewares/problemDetailsMiddleware.ts
Labels: bug, WebApi, expressjs, breaking change

#211 Added eventStore onBeforeCommit hook test
  src/packages/emmett-sqlite/src/eventStore/SQLiteEventStore.e2e.spec.ts
Labels: enhancement, testing, SQLite

#230 Added possibility to handle sequence of command handlers for a single stream as a single append
  src/packages/emmett/src/commandHandling/handleCommand.ts
  src/packages/emmett/src/commandHandling/handleCommand.unit.spec.ts
  src/packages/emmett/src/commandHandling/handleCommandWithDecider.ts
Labels: enhancement, command handling

#231 Fix incorrect package names in "Getting Started" documentation
  src/docs/getting-started.md
Labels: bug, documentation
