Repository event-driven-io/emmett, pull requests merged in 2025-02, with the labels that each got.

#187 Added optional getDocumentId selector for single stream projection
  src/packages/emmett-postgresql/src/eventStore/projections/pongo/projections.ts
  src/packages/emmett-postgresql/src/eventStore/projections/postgresProjection.customid.int.spec.ts
Labels: enhancement, PostgreSQL, projections

#178 Added SQLite event store the ability to create connection
  .gitignore
  src/packages/emmett-sqlite/src/eventStore/SQLiteEventStore.e2e.spec.ts
  src/packages/emmett-sqlite/src/eventStore/SQLiteEventStore.ts
  src/packages/emmett-sqlite/src/eventStore/db.sqlite
  src/packages/emmett-sqlite/src/eventStore/schema/appendToStream.int.spec.ts
  src/packages/emmett-sqlite/src/eventStore/schema/createEventStoreSchema.int.spec.ts
  src/packages/emmett-sqlite/src/eventStore/schema/readStream.int.spec.ts
  src/packages/emmett-sqlite/src/eventStore/schema/readStream.ts
  src/packages/emmett-sqlite/src/sqliteConnection.ts
  src/packages/emmett-tests/tsconfig.json
  src/tsconfig.json
Labels: enhancement, event store, SQLite

#188 Add support for async `decide` for `DeciderSpecification`
  src/packages/emmett/src/testing/deciderSpecification.async.unit.spec.ts
  src/packages/emmett/src/testing/deciderSpecification.ts
Labels: enhancement, testing, breaking change, decider

#189 Added first draft of EventStoreDB consumer
  src/packages/emmett-esdb/src/eventStore/eventstoreDBEventStore.ts
  src/packages/emmett-esdb/src/eventStore/subscriptions/eventStoreDBEventStoreConsumer.handling.int.ts
  src/packages/emmett-esdb/src/eventStore/subscriptions/eventStoreDBEventStoreConsumer.int.ts
  src/packages/emmett-esdb/src/eventStore/subscriptions/eventStoreDBEventStoreConsumer.ts
  src/packages/emmett-esdb/src/eventStore/subscriptions/eventStoreDBEventStoreSubscription.ts
  src/packages/emmett-esdb/src/eventStore/subscriptions/index.ts
  src/packages/emmett-esdb/src/eventStore/subscriptions/messageBatchProcessing/index.ts
  src/packages/emmett-postgresql/src/eventStore/subscriptions/postgreSQLEventStoreConsumer.ts
Labels: enhancement, EventStoreDB, consumers

#192 Enabled PostgreSQL consumer tests that were not run by accidentally missing .spec in the file name
  src/packages/emmett-postgresql/src/eventStore/consumers/postgreSQLEventStoreConsumer.handling.int.spec.ts
  src/packages/emmett-postgresql/src/eventStore/consumers/postgreSQLEventStoreConsumer.int.spec.ts
Labels: bug, testing, PostgreSQL, consumers

#194 Added possibility to create consumers from directly from event stores
  src/packages/emmett-esdb/src/eventStore/consumers/eventStoreDBEventStoreConsumer.ts
  src/packages/emmett-esdb/src/eventStore/eventstoreDBEventStore.ts
  src/packages/emmett-postgresql/src/eventStore/consumers/postgreSQLEventStoreConsumer.ts
  src/packages/emmett-postgresql/src/eventStore/postgreSQLEventStore.ts
Labels: enhancement, EventStoreDB, PostgreSQL, consumers

#195 Made consumer options really optional when creating it from event stores
  src/packages/emmett-esdb/src/eventStore/consumers/eventStoreDBEventStoreConsumer.ts
  src/packages/emmett-esdb/src/eventStore/consumers/eventStoreDBEventStoreProcessor.ts
  src/packages/emmett-esdb/src/eventStore/consumers/subscriptions/index.ts
  src/packages/emmett-esdb/src/eventStore/eventstoreDBEventStore.ts
  src/packages/emmett-postgresql/src/eventStore/postgreSQLEventStore.ts
Labels: enhancement, EventStoreDB, PostgreSQL, consumers

#199 Add API reference link to documentation sidebar and update title in API docs
  src/docs/.vitepress/config.mts
  src/docs/api-docs.md
Labels: documentation, enhancement

#183 Added message type to allow store not only events but also commands and unfied message processing
  src/packages/emmett-mongodb/src/eventStore/mongoDBEventStore.ts
  src/packages/emmett-postgresql/src/eventStore/projections/postgresProjectionSpec.ts
  src/packages/emmett-postgresql/src/eventStore/schema/appendToStream.ts
  src/packages/emmett-postgresql/src/eventStore/schema/readMessagesBatch.ts
  src/packages/emmett-postgresql/src/eventStore/schema/readStream.ts
  src/packages/emmett-sqlite/src/eventStore/schema/appendToStream.ts
  src/packages/emmett-sqlite/src/eventStore/schema/readStream.ts
  src/packages/emmett/src/eventStore/afterCommit/afterEventStoreCommitHandler.unit.spec.ts
  src/packages/emmett/src/eventStore/afterCommit/forwardToMessageBus.unit.spec.ts
  src/packages/emmett/src/eventStore/inMemoryEventStore.ts
  src/packages/emmett/src/eventStore/subscriptions/caughtUpTransformStream.unit.spec.ts
  src/packages/emmett/src/eventStore/subscriptions/streamingCoordinator.unit.spec.ts
  src/packages/emmett/src/typing/command.ts
  src/packages/emmett/src/typing/event.ts
  src/packages/emmett/src/typing/index.ts
  src/packages/emmett/src/typing/message.ts
Labels: enhancement, typing

#201 chore: add max for discounts
  src/packages/emmett-tests/src/eventStore/shoppingCart.domain.ts
Labels: enhancement, testing, sample
